* {
  padding: 0;
  margin: 0;
  display: flexbox;
}

body {
  /* margin-top: -24px; */
  font-family: 'Andale Mono', monospace, monospace;
}

h1 {
  font-size: 35px;
  text-align: center;
  /* padding: 60px; */
  background-image: url('../../Images/sparklySky.gif');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.websiteTitleBlock {
  border: 7px solid transparent;
  background-color: rgba(255, 255, 255, 0.6);
  width: 295px;
  height: 75px;
  padding: 25px;
  margin: 0 auto;
  box-sizing: border-box;
  border-image: linear-gradient(to right, #f8049c, #ff7600) 1;
  border-image-slice: 100%;
  animation: border-animation 4s linear infinite;

}

.websiteTitleWords {
  position: relative;
  bottom: 40px;
  right: 57px;
  width: 290px;
  height: 45px;
  padding: 25px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #f8049c, #ff7600);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  animation: text-animation 4s linear infinite;
}


/* Animated border */
@keyframes border-animation {
  0% {
    border-image: linear-gradient(to right, #f8049c, #ff7600) 1;
  }

  50% {
    border-image: linear-gradient(to right, #00d2ff, #3a7bd5) 1;
  }

  100% {
    border-image: linear-gradient(to right, #f8049c, #ff7600) 1;
  }
}

/* text-animation */
@keyframes text-animation {
  0% {
    background-image: linear-gradient(to right, #f8049c, #ff7600);
  }

  50% {
    background-image: linear-gradient(to right, #00d2ff, #3a7bd5);
  }

  100% {
    background-image: linear-gradient(to right, #f8049c, #ff7600);
  }
}


nav {
  padding: 15px;
  /* height: 70px;
  width: 100%; */
  /* margin-left: 30px; */
  /* margin: 5px 0; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid black; */
}

.linkDiv {
  /* position: relative; */
  top: 15px;
  right: 60px;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: content-box;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 15px;
  border-radius: 15px;
}

/* Link animations */
.click:hover .click-slide-show-text1 {
  margin-left: 65px;
}

.click-shadow-drop {
  position: relative;
  margin-top: 10%;
  background: rgb(249, 250, 250);
  padding: 20px;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  left: 0px;
  top: 0px;
  width: 180px;
}

.click-shadow-drop:hover {
  left: 4px;
  top: 4px;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
}

.click-shadow-drop--blue {
  border: 1px solid rgb(58, 134, 255);
  color: rgb(58, 134, 255);
  box-shadow: rgb(58, 134, 255) 4px 4px 0px 0px;
}

.searchBar {
  width: 350px;
  height: 45px;
  border-radius: 20px;
  margin: 0px 10px 0px 10px;
  padding-left: 15px;
  font-size: 18px;
}

.searchButton {
  position: relative;
  top: -4px;
  margin-top: 0px;
  font-size: 20px;
  width: 215px;
  height: 55px;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  link {
    font-size: 5px;
    width: 25px;
    height: 15px;
  }

  /* h1 {
    font-size: 35px;
    text-align: center;
    padding: 60px;
    background-image: url('../../Images/sparklySky.gif');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  } */
}